.courses {

	&__item {
		border: $gray solid .1rem;
		border-radius: 7px;
		padding: 2.5rem 1rem;
		color: $color-font-body;
		transition: all ease .3s;
		padding-bottom: 5rem;
		margin: .5rem 1rem;
		width: 100%;
		overflow: hidden;

		@include above (sm) {
			width: calc(33.3% -  2rem);
			margin: 1rem;
		}

		&:hover {
			border: $blue solid .1rem;
		}
	}

	&__img {
		min-height: 10rem;
		width: calc(100% + 2rem);
		position: relative;
		left: -1rem;
		top: -2.5rem;
		background: no-repeat center center;
		background-size: cover;
	}

	&__title {
		margin-top: 0;
	}

	&__btn {
		color: $orange;
		font-weight: 600;
		margin-top: .5rem;
		display: block;
		position: absolute;
		bottom: 2.5rem;
		left: 50%;
		transform: translateX(-50%);
	}
}