.cta, .quote {
	// background: url(../img/watermark.png), $gradient;
	// background-repeat: no-repeat;
	// background-position: 85% 100%;
	background: $blue-light;
	color: $white;
	font-weight: 700;
	line-height: 1.5;
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: 24px;

	@include above (sm) {
		font-size: 38px;
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	&__item {
		p {
			line-height: 1.5;
		}
	}
}

.cta {
	position: relative;

	&__bubbles {
		position: absolute;

		&--left {
			left: -2.5rem; 
			top: -2rem;
			max-width: 12rem;

			@include above (sm) {
				left: 3rem;

			}
		}

		&--right {
			right: 1.5rem;
			top: -2rem;
			max-width: 13rem;
			display: none;

			@include above (sm) {
				right: -3rem;
				display: block;
			}
		}

		&--small {
			max-width: 9rem;
			display: none;

			@include above (sm) {
				display: block;
			}

			&-left {
				left: 1.5rem;
			}

			&-right {
				right: 1.5rem;
				top: .5rem;
			}
		}
	}
}

.quote {

	.fas {
		color: $orange;
		margin-bottom: 1.5rem;

		@include above (sm) {
			margin-bottom: 3rem;
		}
	}


	&__name {
		font-size: 18px;
		font-weight: 600;
		margin-top: 1.5rem;
		display: block;

		@include above (sm) {
			margin-top: 3.3rem;
			font-size: 24px;
		}
	}
}


.cta-layout {
	position: relative;

	&.padding--none {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	&__item {
		font-size: 1.6rem;
		position: relative;
		z-index: 1;
	}

	&__title {
		text-transform: uppercase;
		margin-top: 0;
	}
}
