.downloads {

	&__item {
		padding-bottom: 3rem;

		&:last-child {
			padding-bottom: 0;
		}		
	}

	&__header {

	}

	&__title {
		margin-top: 0;
	}

	&__img {
		width: 150px;
		margin-top: 1rem;
	}

	&__btn {
		color: $orange;
		font-weight: 600;
		transition: all ease .3s;
		margin-top: 1.5rem;
		display: block;
	}
}

.mejs-container, .mejs-controls {
	background: $blue-dark!important;
	border-radius: 7px!important;
}