.employee {

	&__header {
		margin-top: 0;
	}

	&__item {
		margin: 1rem 0rem;

		@include below (sm) {
			width: 50%;
		}
	}

	&__name {
		margin-top: 1rem;
	}

	&__link {
		color: $color-font-body;
		transition: all ease .3s;

		&:hover {
			color: $orange;
		}
	}
}