/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */

.footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
	position: relative;
	z-index: 1;

	@include above (sm) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	&__item {

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $orange;
			}
		}

		@include below (sm) {

			&:last-child {
				padding-bottom: 1.5rem;
			}
		}

		@include above (sm) {
			padding-bottom: 3rem;
		}

		&--large {
			border-top: 1px solid $blue-fade; 
			padding-top: 2rem;
			flex-direction: column-reverse;

			@include above (sm) {
				flex-direction: row;
			}
		}
	}

	&__title {
		color: $orange;
		margin-top: 0;
	}

	&__copyright {
		color: $orange;
	}

	&__social {
		padding-bottom: 1.5rem;

		@include above (sm) {
			padding-bottom: 0;
		}

		a {
			background: $blue-fade;
			color: $blue-dark;
			border-radius: 50%;
			width: 2.8rem;
			height: 2.8rem;
			display: inline-block;
			font-size: 24px; 
			text-align: center;
			transition: all ease .3s;

			&:hover {
				background: $orange;
			}
		}

		a + a  {
			margin-left: .5rem;
		}

		i {
			line-height: 1.9;
		}
	}
}
