::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: lighten($color-font-body, 55%);
}
::-moz-placeholder { /* Firefox 19+ */
	color: white;
}
:-ms-input-placeholder { /* IE 10+ */
	color: white;
}
:-moz-placeholder { /* Firefox 18- */
	color: white;
}

//gravity forms

.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;
		line-height: 1!important;
		@extend .btn--medium;

		&:hover {
			
		}
	}

	&_previous_button, &_next_button {
		@extend .btn--medium;
		border: none;
	}

	// Submit wrapper
	&_footer {
		text-align: center;
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		// display: none !important;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;

		a {
			color: $orange;
			transition: all ease .3s;

			&:hover {
				color: $blue;
			}
		}
	}

	&_select option {
		 &.is-active {
			display: block!important;
		}
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		padding: .5rem;
		line-height: 1 !important;
		border: $gray solid .1rem;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		padding: 8px 5px!important;
		text-indent: .25em;
		margin-left: auto;
		margin-right: auto;
		color: $color-font-body;
		border-radius: 7px;

		&:hover, &:focus {
			border-color: $blue;
		}

		&:focus, &:active, &:visited {
			outline: none;
		}
	}
}

@media (min-width: 641px) { 
	.gf_left_half {
		padding-right: 1rem!important;
	}
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}
