.gallery {

	&__title {

	}

	&__list {
		margin-left: -.5rem;
		margin-right: -.5rem;
	}

	&__item {
		width: 100%;
		padding: 1rem;	
		background: no-repeat center center;	
		background-size: cover;
		min-height: 12.5rem;
		margin: .5rem;
		position: relative;

		@include between (xs, sm) {
			width: calc(50% - 1rem);
		}

		@include above (sm) {
			width: calc(33.3% - 1rem);
		}

		@include above (md) {
			width: calc(25% - 1rem);
		}
	}

	&__link {
	    position: absolute;
	    display: inline-block;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;

		&:before {
			position: absolute;
			left: 50%;
			top: 60%;
			transform: translate(-50%, -50%) rotate(-270deg);
			color: $white;
			background: $orange;
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			content: '\f067';
			padding: .5rem;
			line-height: .9;
			border-radius: 50%;
			opacity: 0;
			transition: opacity .6s cubic-bezier(0.475, 0.425, 0, 0.995), transform .6s cubic-bezier(0.475, 0.425, 0, 0.995), top .6s cubic-bezier(0.475, 0.425, 0, 0.995); 
			z-index: 100;
		}

		&:after {
			opacity: 0;
			transition: all ease .6s;
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background: $blue-dark;
			top: 0;
			left: 0;
		}

		&:hover {
	
			&:before {
				opacity: 1;
				top: 50%;
				transform: translate(-50%, -50%) rotate(0deg);
			} 

			&:after {
				opacity: .8;
			}
		}
	}

	&__caption {

	}
}
