/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
  position: relative;
  background: $blue;
  z-index: 10;

  &__container {
  	max-height: 83px;
  	//retarded ie fix
  	height: 83px;

  	@include above (sm) {
  		max-height: 115px;
  		//retarded ie fix
  		height: 115px;
  	}
  }
  
  &__logo {
    display: block;
    float: left;
    position: relative;

    &:before, &:after {
    	position: absolute;
    	display: inline-block;
    	border-radius: 50%;
    	content: '';
    	z-index: 0;
    	pointer-events: none;

    	@include below (sm) {
    		display: none;
    	}
    }

    &:before {	
    	background: $orange;
    	width: 2rem;
    	height: 2rem;
    	right: -3rem;
    	top: 4rem;
    }

    &:after {
    	background: $blue-light;
    	width: 3.5rem;
    	height: 3.5rem;
    	right: -6.5rem;
    }

    img {
      width: 131px;
      height: 131px;

      @include above (sm) {
        width: 189px;
      	height: 189px;
  	  }
    }
  }

  &__form {
  	 position: relative;
		
	 &--wrapper {
	 	transition: all ease .6s;
	 	position: fixed;
	 	width: 100%;
	 	height: 0;
		
		&.is-fixed {
			height: 100%;
			z-index: 9999999;
			display: flex;
			align-items: center;
			justify-content: center;
			left: 0;
			top: 0;
			background: $blue-dark;

			.toolbar {
				z-index: 10;
			}
		}
	 }		
  }

  &__label {
  	display: flex;
  }

  &__input {
  	display: none;
  	border: none;
  	background: transparent;
  	color: $white; 
  	width: 100%;
  	outline: none;
  	padding: 2rem;
  	border: $gray solid .1rem;
  	border-radius: 7px;

  	@include above (sm) {
		font-size: 24px;
		padding: 4rem 2rem 4rem 7rem;
  	}
  }

  &__icon { 
  		color: $white;
  		font-size: 18px;
  		padding: 0rem .5rem;

  		i {
  			line-height: 2;
  		}

  		&:hover {
  			cursor: pointer;
  		}

  		&--share {

  		}

  		&--close {
  			color: $orange;
  			font-size: 24px;
  			padding-left: 0;
  			margin-bottom: 1rem;
  			transition: all ease .3s; 

  			&:hover {
  				color: $blue;	
  			}
  		}

	  	&--search {

	  		&--inner {

		  		@include above (sm) {
		  			font-size: 32px;
		  		}
	  		}
	  	}
	}

	&__btn {

		&--inner {
		   	background: none;
		    -webkit-appearance: none;
		    border: none;
		    color: white;
		    position: absolute;
		    outline: none;
		    height: calc(100% - 40px);
		    transition: all ease .3s;

		    @include below (sm) {
		    	right: .2rem;
		    }

		    @include above (sm) {
		    	left: 2.5rem;
		    	font-size: 24px;
		    }

		    &:hover {
		    	color: $blue;
		    }
		}
	}

	&__social {
		position: absolute;
		text-align: center;
		display: none;
		left: -.3rem;
		background: $orange;
		border-radius: 2.5rem;

		&.is-active {
			display: block;
		}

		a {
			display: block;
			color: $white;
			padding: .3rem;
			position: relative;
			transition: all ease .3s;

			&:hover {
				color: $blue-dark;
			}
		}

		&--wrap {
			position: relative;
		}
	}
}


