.home { 

	&__item {
		border: $gray solid .1rem;
		border-radius: 7px;
		padding: 1rem;
		display: block;
		position: relative;
		overflow: hidden;
		color: $color-font-body;
		margin-bottom: 1rem;
		transition: border ease .3s;

		&:first-child {
			margin-top: 0;
		}

		@include above (sm) {
			padding: 3rem 1rem;
			display: flex;
		}

		&:hover {
			border: $blue solid .1rem;
		}
	}

	&__thumb {
    	top: 0;
    	left: 0;
    	background: no-repeat center center;
    	background-size: cover;
    	position: relative;

    	@include below (sm) {
    		width: calc(100% + 2rem);
    		min-height: 10rem;
    		left: -1rem;
    		top: -1rem;	
    	}

    	@include above (sm) {
    		position: absolute;
    		height: 100%;
    	}
	}

	&__title {
		margin-top: 0;
	}

	&__meta {
		color: $blue-dark;
		font-weight: 600;
		font-size: 14px;
	}

	&__btn {
		color: $orange;
		font-weight: 600;
	}
}