/********************LAYOUTS********************/

/* Base Styles */

.blue-dark--bg, .blue-light--bg, 
.orange--bg, .blue--bg, .blue-medium--bg {
  color: $white;
}

.border-title {
  padding-left: 1rem;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: .4rem;
    background: $blue;
    left: 0;
    border-radius: 3px; 
  }
}


/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &__title {
    margin-top: 0;
  }

  &__col {

    a:not(.btn) {
      color: $orange;
    }

    &--1 {
      h1, h2, h3, h4, h5, h6 {
        &:first-child {
          margin-top: 0;
        }
      }
    }
	
  	@include above (sm) {

    	&.first {
    			p:last-child {
  			   margin-bottom: 0;
  			 }
    		}
    	}
  	
  	&.last {
  		p:last-child {
  			margin-bottom: 0;
  		}
  	}
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
      padding-bottom: 6rem;
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}