.link-boxes {
 
	&__header {
		margin-top: 0;
	}

	&__item {
		color: $color-font-body;
		padding: 1.5rem 0rem;
		transition: all ease .3s;
		width: 100%;
		margin: .5rem 1rem;
		display: flex;
		flex-direction: column;

		@include above (xs) {
			width: calc(50% - 2rem);
			margin: 1rem;
		}

		@include above (sm) {
			padding: 2.5rem 0rem;
		}

		@include above (md) {
			width: calc(25% - 2rem);
			margin: 1rem;
		}
	}

	&__link {
		border-radius: 50%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-self: center;
		width: 13.5rem;
		height: 13.5rem;
	}

	&__title {
		margin: 0;
	}

	&__text {
		font-size: 1.2rem;
		padding-top: 1.5rem;
		line-height: 1.4;
		margin-bottom: 0;
	}

	&__btn {
		color: $orange;
		font-weight: 600;
		margin-top: .5rem;
		display: block;
		position: absolute;
		bottom: 2.5rem;
		left: 50%;
		transform: translateX(-50%);
	}
}