//nav

.nav {

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 80px;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: block;
		}
	}

	&__item {
		padding: .5rem 1rem;
		position: relative;

		@include above (sm) {
			float: left;
			padding: 1rem .5rem;
			display: inline-block;
		}

		&.is-active > a {
			color: $orange;
		}
	}

	&__link {
		color: $white;
		font-weight: 600;
		display: block;
		transition: all ease .3s;

		&:hover {
			color: $orange;
		}
	}

	&__dropdown-trigger {
		&:after  {
			content: '\f107';
			font-family: 'Font Awesome 5 Free';
			font-weight: 600;
			color: $orange;
		}
	}


	&__dropdown {
		display: none;
		padding: 0;
		top: 100%;
		background: $blue-dark;
		left: 0;

		@include above (sm) {
			position: absolute;
		}

		&.is-visible {
			display: block;
		}

		.nav__item {
			padding: 0;
			float: none;
			display: block;
		}

		.nav__link {
			padding: 0.5rem 1rem;
			white-space: nowrap;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		position: fixed;
		z-index: 78888;
		top: 0;
		right: 0;
		height: calc(100% - 0px);
		width: 100%;
		transform: translateX(100%);
		transition: all .6s ease;
		background: $blue-dark;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		@include above (sm) {
			display: flex;
			flex-direction: column; 
			align-items: center;
		}

		&.is-open {
			transform: translateX(0);
		}

		// Set body to fixed
		@at-root {		
			body.is-fixed {			
				overflow: hidden;
				position: fixed;
				width: 100%;
				height: 100%;		
			}	
		}
	}

	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		display: block;
		// position: absolute;
		z-index:  88888;
		// top: 50%;
		right: 1rem;
		// transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;
		padding-left: .5rem;

		&__label {
			color: $white;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 3px;
			background: $white;
			transition: all .3s ease;
			top: -3px;

			@include above (sm) {
				top: -1px;				
			}

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $white;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.44rem;
			}

			&::after {
				top: -.45rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

#menu-quicklinks {
	@include below (sm) {
		display: none;
	}
}

#menu-main-nav {
	@include above (sm) {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		max-width: 1170px;
		top: 130px;

		.nav__item {
			display: block;
			float: none;
		}

		.nav__item {
			width: 25%;
		}

		.is-dropdown {
			margin-bottom: auto;
		}

		.nav__dropdown {
			// display: block;
			position: relative;

		}

		.nav__dropdown-trigger {
			margin-bottom: .5rem;			
		}
	}
}