.news {

	&__header {
		margin-top: 0;
	}

	&__row {

		@media (min-width: 580px) and (max-width: 768px) {
			margin-left: -.5rem;
			margin-right: -.5rem;
		}

		@include above (sm) {
			margin-left: -.5rem;
			margin-right: -.5rem;
		}
	}
	
	&__item {
		border-radius: 5px;
		background: no-repeat center center;
		background-size: cover;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		color: $white;
		min-height: 300px;
		overflow: hidden;
		width: 100%;
		margin: .5rem 1rem;

		&:after {
			content: '';
			position: absolute;
			background: linear-gradient(to top, $black, transparent);
			opacity: .6;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 0;
		}

		@media (min-width: 580px) and (max-width: 768px) {		
			width: calc(50% - 1rem);
			margin: .5rem; 
		}

		@include above (sm) {
			width: calc(50% - 1rem);
			margin: .5rem; 
			max-height: 300px;
		}

		&:last-child {

			@include above (sm) {
				top: -12.5rem;
			}
		}

		&:hover {
			.news__btn {
				&:after {
					transition: transform .6s ease-in-out, opacity .6s ease-in-out;
					animation: pulse;
  					animation-timing-function: ease-out;
  					animation-duration: .8s;
  					animation-iteration-count: infinite;
  				}
			}
		}

		&--large {
			@include above (sm) {
				min-height: 500px;
				//retarded ie fix
				height:auto !important; 
   				height: 500px; 
			}
		}
	}

	&__excerpt, &__title {
		position: relative;
		z-index: 10;
	}

	&__excerpt {
		display: none;
		align-items: center;
		margin-bottom: 1.5rem;

		@include above (sm) {
			display: flex;
		}

		p {
			opacity: .6;
			margin-right: 1.5rem;
			margin-bottom: 0;
			flex: 1;
		}
	}

	&__meta {
		color: $orange;
	}

	&__btn {
		margin: auto;
	}

	&__link {
		margin-bottom: 3rem;
		margin-top: 3rem;

		@include above (sm) {
			position: relative;
			top: -9.5rem;
			margin: 0;
		}
	}
}