/********************PAGE********************/

/*
 * This file should house all of the styles for any
 * page template, i.e. page.php or page-{rename}.php.
 */

.page {

	&__hero {
		position: relative;
		background: no-repeat center center;
		background-size: cover;
		
		// &:before {
		// 	background: url('../img/watermark.png') no-repeat center center;
		// 	background-position: 75% 50%;
		// 	content: '';
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100%;
		// 	top: 0;
		// }

		@include overlay();
	}
  
	&__title {
		margin-top: 0;
		color: $white; 
		position: relative;
		z-index: 9;
	}  
}
