/********************SIDEBAR********************/

/*
 * This file should house all of the styles for any
 * sidebar template, i.e. sidebar.php or
 * sidebar-{rename}.php.
 */

 .sidebar {
	position: relative;

	@include below (sm) {
		padding: 0rem 2rem;
		margin-top: 1rem;  
	}

	ul {
		list-style: none;
		margin-bottom: 0;

		@include below (sm) {
			display: none;
		}
	}

	&:after {
 		width: .4rem;
 		background: #f9f9f9;
 		left: 2rem;
 		height: 100%;
 		position: absolute;
 		content: '';
 		top: 0;
 		z-index: -1;
		
 	}

 	@include above (sm) {
 		top: 6rem;
 		padding-left: 2rem;
 	}


 	&.is-active {
 		ul {
 			display: block;
 		}

 		i {
 			transform: rotateX(180deg);
 		}
 	}


 	&--download, &--news {
		top: 0;
		padding-left: 1rem;

		@include below (sm) {
			margin-bottom: 3rem;
		}

		&:after {
			left: 1rem;
		}
 	}

 	&__title {
 		margin-top: 0;

 		i {
 			display: none;
 			transition: all ease .3s;
 		}

		@include below (sm) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 0;

	 		i {
	 			color: $orange;
	 			font-size: 16px;
	 			display: block;
	 		}
 		}
 	}

 	&__children {
 		margin-bottom: 0;

 		&:hover {
 			cursor: pointer;
 		}

 		&--links {
 			color: $color-font-body;
 		}
 	}

 	.page_item a {
 		color: $color-font-body;
 		transition: all ease .3s;

 		&:hover {
 			color: $orange;
 		}
 	}

 	.current_page_item a {
		color: $orange; 
 	}

 	.children {
 		display: none;  
 	}
 }

 .mixitup-control-active {
 	transition: all ease .3s;
 	color: $orange;
 }