/********************SINGLE********************/

/*
 * This file should house all of the styles for any
 * single template, i.e. single.php or
 * single-{rename}.php.
 */

 .single {


 	&__btn {
 		color: $orange;
		font-weight: 600;
		transition: all ease .3s;

		&:hover {
			cursor: pointer;
			color: $blue-dark;
		}
 	}
 }