.slider {
	position: relative;

	&__track {
		touch-action: manipulation;
	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center;
		background-size: cover; 

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 25rem;

			@include above (lg) {
				padding-bottom: 40rem;
			}
		}

		@include overlay(
			$opacity: .2
		);
	}

	&__container {

	}

	&__title, &__text {
		span {
			color: $orange; 
		}
	}

	&__title {
		margin-top: 0;

		@include below (sm) {
			font-size: 30px;
		}
	}

	&__text {
		color: $white;
		position: relative;
		z-index: 10;
		margin: auto;

		@include above (sm) {
			font-size: 18px;
			font-weight: 600;
		}
	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	.owl-dots {
		text-align: center;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 1.5rem;
	}

	.owl-dot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		border: 1px solid $orange;
		display: inline-block;

		&.active {
			background: $orange;
		}
	}

	.owl-dot + .owl-dot {
		margin-left: .3rem;
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}