.toolbar {
	position: relative;
	z-index: 1;
	font-weight: 600;
	font-size: 14px;

	@include below (sm) {
		padding: .2rem 0rem;
		z-index: 20; 
	}

	&__wrap {

		@include above (sm) {
			margin-right: 1rem;
		}

		@include above (md) {
			margin-right: 3rem;
		}

		@include between (sm, md) {
			display: none !important;
		}
	}

	&__item + &__item {
		margin-left: 1.5rem;
	}

	&__item {

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $orange;
			}
		}
	}

	.nav__item {
		padding: .7rem .5rem;

		&:last-child {
			padding-right: 0;
		}
	}
}