.video {
	position: relative;
	z-index: 2;
	overflow: hidden;

	&__wrap {
		position: relative;
		z-index: 1;
		background: no-repeat center center;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;

		@include above (sm) {
			height: 40rem;
		}
	}

	&__controls {

	}

	&__play {
		width: 4rem;
		color: $white;
		opacity: .6;
		transition: all ease .3s;

		@include above (sm) {
			width: 8rem;
		}

		&:hover {
			opacity: 1;
		}

		svg {
			fill: $white;
		}
	}

	&__video {
		z-index: -100;
		min-width: 100%;
		min-height: 100%;
		width: 100%;
		height: 100%; 

		@include above (sm) {
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%; 
			width: auto;
			height: auto;
		}
	} 

	&__bubbles {
		position: absolute;
		border-radius: 50%;
		display: none;

		@include above (sm) {
			display: block;
		}

		&--blue-dark {
			width: 4rem;
			height: 4rem;
			background: rgba($blue-medium, .6);
			right: 1.5rem;
			bottom: 10rem;
		}

		&--blue-light {
			width: 5rem;
			height: 5rem;
			background: rgba($blue-light, .6);
			bottom: 4rem;
			right: 3rem;
		}

		&--orange {
			width: 3rem;
			height: 3rem;
			background: rgba($orange, .6);
			bottom: 2rem;
			right: 8rem;
		}
	}
}	