.btn {
	display: inline-block;
	position: relative;

	&--large, &--medium, &--pulse {
		background: $orange;
		color: $white;
		font-weight: 600;
		font-size: 16px;

		@include above (sm) {
			font-size: 18px;
		}
	}

	&--large {
		padding: .6rem 2.5rem;
		border-radius: 2rem;
		padding-right: 0;
		transition: all ease .3s;

		&:after {
			content: '\f105';
			font-family: 'Font Awesome 5 Free';
			padding: .5rem .8rem;
			border-radius: 50%;
			box-shadow: 0px 0px 15px rgba($blue-dark, .15);
			margin-left: 1.5rem;
			margin-right: .4rem;
		}

		@include above (sm) {
			padding: .8rem 3.5rem;
			padding-right: 0;

			&:after {
				padding: .7rem 1rem;
			}
		}

		&:hover {
			background: darken($orange, 5%);
		}
	}

	&--medium {
		padding: .8rem 2.5rem;
		border-radius: 2rem;

		&:hover {
			background: darken($orange, 5%);
		}
	}

	&--pulse {
		border-radius: 50%;
		width: 2.5rem;
		height: 2.5rem;
		position: relative;

		&:before {
			font-family: 'Font Awesome 5 Free';
			content: '\f105';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:after {
			position: absolute;
			content: '';
			top: -.255rem;
			left: -.35rem;
			background: $orange;
			opacity: .35;
			border-radius: 50%;
			width: 3.2rem;
			height: 3.1rem;
			z-index: -1;
		}

		&--play {
			font-size: 12px;
			&:before {
				content: '\f04b';
			}
		}
	}
}