/* Color classes (modify as needed) */

$colors: "white" $white, "gray" $gray, "black" $black, "blue" $blue, "blue-dark" $blue-dark, "gradient" $gradient, "orange" $orange, "blue-light" $blue-light, "blue-medium" $blue-medium;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value; 
  }

  .#{$label}--bg {
    background-color: $value;
  }
}
